body {
	
}

.text-centered {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #07FF02;
	text-shadow: 2px 2px 2px red;
}

.cover-text {
	font-family: Arial Narrow;
	font-weight: lighter;
	font-size: 2rem;
	opacity: 0.9;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@media (max-width: 750px) {
    #background-video { display: none; }
    body {
      background: url("assets/phone_bg.png") no-repeat;
      background-size: cover;
    }
}