body {
	
}

.sound { display: none; }

button {
	font-family: Arial Narrow;
	font-size: 2rem;
	color: black;
	background: red;
	text-decoration: none;
	shadow: 2px 2px 2px red;
	border-radius: 3rem;
	padding: 16px 32px 20px 32px;
	transition: background 100ms ease-in-out,
}

button:hover {
    background: black;
}


a {
		color: #07FF02;
		text-decoration: none;
	:hover {
		color: red;
		transition: 0.8s;
		text-shadow: 2px 2px 2px #07FF02;
	}
}


.text-centered {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #07FF02;
	text-shadow: 2px 2px 2px red;
}

.text-flip-vertical {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.text-flip-horizontal {
	-moz-transform: scale(1, -1);
	-webkit-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	transform: scale(1, -1);
}

.cover-text {
	font-family: Times;
	font-weight: lighter;
	font-size: 12rem;
	opacity: 0.9;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@media (max-width: 750px) {
    #background-video { display: none; }
    body {
      background: url("assets/phone_bg.png") no-repeat;
      background-size: cover;
    }
}