<video id="background-video" autoplay loop poster="assets/bg_test_02.mp4">
<source src="assets/bg_test_02.mp4" type="video/mp4">
</video>
<div class="text-centered">
	<h1 class="cover-text">talk dirty to me</h1>
</div>