<video id="background-video" autoplay loop poster="assets/bg_test_02.mp4">
<source src="assets/bg_test_02.mp4" type="video/mp4">
</video>

<div class="text-centered text-flip-horizontal">
	<a href="/home" 
	  target="popup" 
	  onclick="window.open('/about','popup','width=600,height=600'); return false;">
	  <h1 class="cover-text">talk dirty to me data</h1>
	</a>
</div>