<%= render 'shared/video' %>

<div class="text-centered">
	<button onclick="myFunction()">talk dirty to me, dada</button>

		<script>
		function myFunction() {
		  window.open('/first','_blank','top=200, left=60, width=900,height=800',);
		}
		</script>

</div>