<%= render 'shared/video' %>
<!-- <embed class="sound" name="audio_3" src="assets/audio_3.mp3" loop="true" hidden="true" autostart="true"> -->

<audio autoplay loop>
	<source src="assets/audio_3.mp3" type="audio/mpeg">
</audio>

<div class="text-centered">
	<button onclick="myFunction()">we will be lacing through technological traditions of domestication and fetishization</button>

		<script>
		function myFunction() {
		  window.open('/second','_blank','top=80, left=350, width=750,height=300');
		}
		</script>
</div>