<%= render 'shared/video' %>
<embed class="sound" name="audio_test" src="assets/audio_test.mp3" loop="true" hidden="true" autostart="true">

<div class="text-centered">
	<button onclick="myFunction()">again</button>

		<script>
		function myFunction() {
		  window.open('/second','_blank','top=80, left=350, width=750,height=300');
		}
		</script>
</div>