<%= render 'shared/video' %>
<audio autoplay loop>
	<source src="assets/audio_3.mp3" type="audio/mpeg">
</audio>

<div class="text-centered">
	<button onclick="myFunction()">We aim to infiltrate the network with our allyship</button>

		<script>
		function myFunction() {
		  window.open('/about','_blank','top=60, left=250, width=650,height=200');
		}
		</script>
</div>