<%= render 'shared/video' %>
<embed class="sound" name="audio_test" src="assets/audio_test2.mp3" loop="true" hidden="true" autostart="true">

<div class="text-centered">
	<button onclick="myFunction()">data dirty talk</button>

		<script>
		function myFunction() {
		  window.open('/about','_blank','top=400, left=600, width=800,height=800');
		}
		</script>
</div>