<%= render 'shared/video' %>

<div class="text-centered">
	<button onclick="myFunction()">and again</button>

		<script>
		function myFunction() {
		  window.open('/about','_blank','top=400, left=600, width=800,height=800');
		}
		</script>
</div>