<%= render 'shared/video' %>
<audio autoplay loop>
	<source src="assets/audio_3.mp3" type="audio/mpeg">
</audio>

<div class="text-centered">
	<button onclick="myFunction()">We cover our innocence with a thick layer</button>

		<script>
		function myFunction() {
		  window.open('/third','_blank','top=400, left=600, width=800,height=800');
		}
		</script>
</div>