<%= render 'shared/video' %>
<audio autoplay loop>
	<source src="assets/audio_3.mp3" type="audio/mpeg">
</audio>

<div class="text-centered">
	<button onclick="myFunction()">Disruptors of gendered domination
and destruction of the cyber altars</button>

		<script>
		function myFunction() {
		  window.open('/fourth','_blank','top=100, left=200, width=950,height=500');
		}
		</script>
</div>